<footer id="footer" class="bg-light footer-light">
	<div class="container container-1000">
		<div class="row">
			<div class="col-lg-4 col-sm-4">
				<p><img alt="Logo" src="/images/logo.png" style="height:50px;" /></p>
				<address class="mb-3">
					<strong>Hasslefree</strong><br>
					1355 Here and There Street<br>
					Johannesburg, South Africa<br>
					<abbr title="Phone">P:</abbr> (123) 456-7890
				</address>
				<div class="footer-social mb-4">
					<a href="#" target="_blank" class="ml-2 mr-2"><span class="fa fa-twitter"></span></a>
					<a href="#" target="_blank" class="ml-2 mr-2"><span class="fa fa-facebook"></span></a>
					<a href="#" target="_blank" class="ml-2 mr-2"><span class="fa fa-instagram"></span></a>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="footer-links">
					<ul class="list-unstyled">
						<li class="list-title">About</li>
						<li><a href="/company">Company</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="footer-links">
					<ul class="list-unstyled">
						<li class="list-title">Help</li>
						<li><a href="/faq">FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-credits d-lg-flex justify-content-lg-between align-items-center">
			<div>Powered by <strong><a target="_blank" href="https://www.shutlit.com">Shutlit</a></strong></div>

			<div>© @DateTime.Now.Year.ToString() Hasslefree. All Rights Reserved</div>
		</div>
	</div>
</footer>