*.suo
Debug
*.user
bin
obj
packages
/src/UpgradeLog2.htm
*.vpp~2
*.vpp~3
_bin_deployableAssemblies
*.coverage
/src/.vs/config/applicationhost.config
*.pubxml
/src/.vs/App/v15/Server/sqlite3/db.lock
/src/.vs/App/v15/Server/sqlite3/storage.ide
/src/.vs/App/v15/Server/sqlite3/storage.ide-shm
/src/.vs/App/v15/Server/sqlite3/storage.ide-wal
/src/.vs/*
*.dbtcache

# Visual Studio 2017 & 2019 IDE temp files specific to your machine.
.vs

# Jetbrains Rider IDE temp files specific to your machine
.idea
