@{
    Layout = "_ColumnsTwo";
    ViewBag.PageTitle = "Listings";

    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
}

@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = 150 })
}
<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - Listings</h1>
    </div>
    <div class="page-body">
        <div class="order-list">
            <div class="section order-item">
                <div class="title">
                    <strong>Listing ID: ABC123</strong>
                </div>
                <ul class="info">
                    <li>Status: <span class="order-status">Phase 2</span></li>
                    <li>Start Date: <span class="order-date">2021-01-05 14:23</span></li>
                    <li>Listing: <span class="order-total">Property ABC</span></li>
                </ul>
                <div class="buttons">
                    <button type="button" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = 1 })')">Listing Details</button>
                </div>
            </div>
        </div>
    </div>
</div>