:root {
    --color-dark-blue: hsl(223, 67%, 13%);
    --color-light-blue: hsl(224, 42%, 41%);
    --color-purple: hsl(242, 29%, 77%);
    --color-green: hsl(77, 59%, 55%);
    --color-orange: hsl(25, 90%, 58%);
    --color-red: hsl(359, 84%, 56%);
    --color-grey: hsl(0, 0%, 93%);
    --color-dark-grey: hsl(206, 16%, 34%);
    --color-white: hsl(0, 0%, 100%);
}



.footer {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    padding-top: 6rem;
    padding-bottom: 1rem;
}

    .footer h4 {
        color: var(--color-green);
    }

    .footer ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 2rem;
    }

    .footer a {
        color: var(--color-white);
    }
    .footer a:hover {
        color: var(--color-green);
    }

.footer-btm {
    padding-top: 5rem;
    text-align: center;
}

    .footer-btm a {
        color: var(--color-green);
        text-decoration: underline;
    }
