@{
    Layout = null;
}

<h3>DEA Consent</h3>
<p>Consent to electronically obtain account statements from financial institutions </p>

<div class="inputs">
    <<label>Name of account holder (you)* </label>
    <input id="prependedtext" name="prependedtext" class="form-control" placeholder="" type="text">
</div>

<p>*One account holder per consent form </p>

<div class="inputs">
    <<label>Identity/Passport/Registration Number</label>
    <input id="" name="" class="form-control" placeholder="" type="text">
</div>

<p>Absa Bank Ltd, Nedbank Ltd & Standard Bank Ltd (the banks) work with each other and other financial institutions to fight, amongst other crimes, home loan application fraud. In these dealings, the banks ensure that all personal and financial information about clients are protected and kept strictly confidential.  </p>
<div class="form-group">

    <div class="input-group">
        <span class="input-group-addon">For the purpose of assessing the home loan application that [Source name] will submit on your behalf to any or all of the banks in the name of </span>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>
    <p>The banks need your consent to obtain your bank statement(s) directly for your account(s) held at other financial institutions (as specified below).The financial institutions involved will exchange no further information than the bank statements you have authorised and these will be safeguarded and not used for any other purposes. Bank account statements obtained will also be limited to the period necessary to assess the home loan application. </p>
    <p>Your signature below confirms that the banks have your consent to obtain bank statement(s) on the following account(s) (that show your account transaction history) and if there is a problem with the electronic retrieval of some or all of the required bank statements for any reason, the banks will contact you to provide physical copies: </p>

    <h3>Account 1: </h3>

    <div class="inputs">
        <<label>Name of bank/institution</label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <div class="inputs">
        <<label>Account type/ description </label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <div class="inputs">
        <<label>Branch name </label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <div class="inputs">
        <<label>Branch/Universal number</label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <div class="inputs">
        <<label>Account number </label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <h3>Account 2:</h3>

    <div class="inputs">
        <<label>Name of bank/institution</label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <div class="inputs">
        <<label>Account type/ description </label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <div class="inputs">
        <<label>Branch name </label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <div class="inputs">
        <<label>Branch/Universal number</label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <div class="inputs">
        <<label>Account number </label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>


    <div class="inputs">
        <label>Signature</label>
        @await Html.PartialAsync("../Forms/_SignaturePad.cshtml", "abc")
    </div>

    <div class="inputs">
        <<label>Date </label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <h3>If account is in the name of a legal entity:</h3>

    <div class="inputs">
        <<label>Name of signatory/ies</label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>

    <div class="inputs">
        <<label>Capacity of signatory/ies</label>
        <input id="" name="" class="form-control" placeholder="" type="text">
    </div>
</div>