<div class="error-contain">
	<h1>404</h1>
	<div class="error-message-wrap">
		<div class="error-page-message">
			<h2>Oops!</h2>
			<p>
				We can't seem to find the page you're looking for.
				<span class="error-page-type">Error Code: 404</span>
			</p>
		</div>
		<a href="/" class="btn">Go Home</a>
	</div>
</div>