<div class="error-contain">
	<h1>500</h1>
	<div class="error-message-wrap">
		<div class="error-page-message">
			<h2>Oops!</h2>
			<p>
				That's not right.<br />
				Something went wrong with your request.
				<span class="error-page-type">Error Code: 500</span>
			</p>
		</div>
		<a href="/" class="btn">Get Support</a>
	</div>
</div>