<appSettings>
	<!--Visual Studio-->
	<add key="vs:EnableBrowserLink" value="false" />

	<!--MVC-->
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="true" />
	<add key="owin:AutomaticAppStartup" value="false" />
	<add key="RouteDebugger:Enabled" value="false" />
	<add key="enableSimpleMembership" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

	<!--Amazon AWS-->
	<add key="AccessKey" value="AKIASRI2DWBM5BKVHJHQ" />
	<add key="SecretKey" value="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" />

	<!--Media & Storage Settings-->
	<add key="BucketName" value="hasslefree-storage" />
	<add key="CDNRoot" value="http://hasslefree-storage.s3.eu-west-1.amazonaws.com/" />
</appSettings>