<connectionStrings>
	<add name="DatabaseContext" connectionString="Server=localhost;Port=3306;Database=www.hasslefree.sa.com;Allow Zero Datetime=true;Convert Zero Datetime=True;Allow User Variables=True;Uid=root;Pwd=root;Charset=utf8;SslMode=Required;" providerName="MySql.Data.MySqlClient" />
	<add name="ReadOnlyContext" connectionString="Server=localhost;Port=3306;Database=www.hasslefree.sa.com;Allow Zero Datetime=true;Convert Zero Datetime=True;Allow User Variables=True;Uid=root;Pwd=root;Charset=utf8;SslMode=Required;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
