<connectionStrings>
	<add name="DatabaseContext" connectionString="Server=localhost;Port=3306;Database=hasslefree;Allow Zero Datetime=true;Convert Zero Datetime=True;Allow User Variables=True;Uid=root;Pwd=sa@@ds13579;Charset=utf8;SslMode=none" providerName="MySql.Data.MySqlClient" />
	<add name="ReadOnlyContext" connectionString="Server=localhost;Port=3306;Database=hasslefree;Allow Zero Datetime=true;Convert Zero Datetime=True;Allow User Variables=True;Uid=root;Pwd=sa@@ds13579;Charset=utf8;SslMode=none" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
