<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- How to set up secondary appender (bufferless) for Exceptions only? -->
	<!-- Log4Net Appender Settings-->
	<root>
		<level value="All" />
		<appender-ref ref="ADONetAppender" />
	</root>
	<appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
		<bufferSize value="1"/>
		<lossy value="false"/>
		<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>
		<connectionString value="Server=localhost; Port=3306; Allow Zero Datetime=true; Convert Zero Datetime=True; Allow User Variables=True; Uid=root; Pwd=root; Charset=utf8; Database=local.logs; SslMode=none;"/>
		<commandText value="INSERT INTO `Log` (`Date`,`Level`,`Logger`, `Class`,`Method`,`Parameters`,`Message`,`Exception`) VALUES (?log_date, ?log_level, ?logger, ?class_name, ?method_name, ?parameters, ?message, ?exception)"/>
		<parameter>
			<parameterName value="log_date"/>
			<dbType value="DateTime"/>
			<layout type="log4net.Layout.RawTimeStampLayout"/>
		</parameter>
		<parameter>
			<parameterName value="log_level"/>
			<dbType value="String"/>
			<size value="512"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%p"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="logger"/>
			<dbType value="String"/>
			<size value="512"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%c"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="class_name"/>
			<dbType value="String"/>
			<size value="200"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{class_name}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="method_name"/>
			<dbType value="String"/>
			<size value="200"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{method_name}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="parameters"/>
			<dbType value="String"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{parameters}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="message"/>
			<dbType value="String"/>
			<size value="1000"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%m"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="exception"/>
			<dbType value="String"/>
			<size value="4000"/>
			<layout type="log4net.Layout.ExceptionLayout"/>
		</parameter>
	</appender>
</log4net>