@{
	ViewBag.Title = "Registration Successful";
}

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-md-8  col-lg-6">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Account</a></li>
					<li class="breadcrumb-item active" aria-current="page">Register Success</li>
				</ol>
			</nav>
			<div class="page-header">
				<h1>Registration Successful</h1>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-md-8  col-lg-6">
				<p>You have successfully registered your account.</p>
				<div> </div>
			</div>
		</div>
	</div>
</div>