@model Hasslefree.Web.Models.Accounts.ResetPasswordModel
@{
	ViewBag.Title = "Reset Password";
}
<main class="main-content">
	<div class="sign-in-contain">
		<div class="form-centered">
			<div class="container">
				<div class="form-centered-contain">
					<div class="form-centered-header">
						<h1>Success</h1>
						<p>
							You have successfully reset your password.
						</p>
					</div>
					<div class="form-centered-content">
						<a href="/" class="btn"><i class="fa fa-shopping-cart"></i> Continue Shopping</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
