<div class="clearfix"></div>
<div id="content">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-12 col-xl-12">
				<div class="row">

					<div class="col-md-12 col-lg-12 col-xl-12">
						<div class="page-header bordered">
							<h1>Complete Rental Listing <small>Complete your signatures</small></h1>
						</div>
						<p>Thank you for your witness signature!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>